<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><style>
    .complain-container {
        font-family: "Nunito", sans-serif;
        padding: 1rem;
        margin: 1rem;
    }
</style>

{% extends "MNCSApp/master.html" %}

{% load static %}

{% block header %} <title>All Registered Complaints</title>

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-2">
      <ul class="nav flex-column bg-warning h-100" style="position: fixed;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/ManageInvestigators/">Investigators</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ManageReports/">Crime Reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Allocate_Investigators/">Allocate Investigators</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ManageReporters/">Manage Reporter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/View_Feedback/">View Feedbacks</a>
          </li>
        </ul>
    </div>
    <div class="col-5">
    <div class="container complain-container">
        <table class="table">
    <thead>
      <tr class="my-3">
           <th>Reported Crime</th>
           <th>Reporter</th>
           <th>Blocked Status</th>
      </tr>
    </thead>
    <tbody>
    {% for item in reporters %}
        <tr>
            <td>{{ item.Report_text }}</td>
            <td>{{ item.Reporter_ID_id }}</td>
            <td>{{ item.Reporter_ID.Blocked }}</td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
    </div>
    </div>
    <div class="col-5">
      <table class="table">
        <thead>
          <tr class="my-3">
               
               <th>Reporter</th>
             <th>Fake leads</th>
          </tr>
        </thead>
        <tbody>
         {% for x in Fake %} 
         
          <tr>
            <td>{{ x.Reporter_ID }}</td>
            <td>{{x.count }}</td>
            <td>
            {% if x.count >= 2 %}
           
           
            
             <td><button type="button" class="btn btn-info"><a class="nav-link text-white" href="/block_user/{{x.Reporter_ID}}">Block</a></button></td>
             <td><button type="button" class="btn btn-info"><a class="nav-link text-white" href="/unblock_user/{{ x.Reporter_ID }}">Unblock</a></button></td>
       
            {% endif %}
          </td>
          </tr>
          {% endfor %}
          </tbody>
          </table>
    </div>
</div>
</div>
{% endblock %}

